openapi: 3.0.1
info:
  title: External data management NRM
  version: 19.5.0
  description: OAS 3.0.1 definition of the External data type NRM fragment © 2025, 3GPP Organizational
    Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC). All rights reserved.
externalDocs:
  description: 3GPP TS 28.623; Generic NRM, External data type NRM fragment
  url: http://www.3gpp.org/ftp/Specs/archive/28_series/28.623/
paths: {}
components:
  schemas:
    SubNetwork-ncO-ExternalDataMgmtNrm:
      type: object
      properties:
        ExternalDataType:
          $ref: '#/components/schemas/ExternalDataType-Multiple'
    ExternalDataScope:
      type: object
      properties:
        geoAreas:
          type: array
          uniqueItems: true
          items:
            $ref: TS28623_ComDefs.yaml#/components/schemas/GeoArea
        objectInstancesIncluded:
          type: array
          uniqueItems: true
          items:
            $ref: TS28623_ComDefs.yaml#/components/schemas/Dn
        objectInstancesExcluded:
          type: array
          uniqueItems: true
          items:
            $ref: TS28623_ComDefs.yaml#/components/schemas/Dn
    ExternalDataType-Single:
      allOf:
      - $ref: TS28623_GenericNrm.yaml#/components/schemas/Top
      - type: object
        properties:
          attributes:
            type: object
            properties:
              externalDataType:
                type: string
              mediaLocation:
                type: array
                uniqueItems: true
                items:
                  $ref: TS28623_ComDefs.yaml#/components/schemas/Uri
              externalDataTypeSchema:
                type: string
              externalDataScope:
                type: array
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/ExternalDataScope'
    ExternalDataType-Multiple:
      type: array
      items:
        $ref: '#/components/schemas/ExternalDataType-Single'
    resources-externalDataMgmtNrm:
      oneOf:
      - $ref: '#/components/schemas/ExternalDataType-Single'
servers:
- url: https://forge.3gpp.org/rep/api/v4
  description: Base URL reconciled from apis.yml
